#background1 {
    background-image: url(resources/abhyas\ background\ cropped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo_block {
    padding: 2rem 0rem 2rem 0rem;
}

#home_contents_flex {
    display: flex;
    width: 54rem;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 3rem;
}

#services_div,
#training_div {
    height: 15rem;
    width: 25rem;
}

#services_img {
    height: 15rem;
    width: 25rem;
}

#training_img {
    height: 15rem;
    width: 25rem;
}

#contact_img {
    height: 8rem;
    width: 25rem;
}

#contactus_div {
    height: 10rem;
    width: 25rem;
}

#icons {
    display: flex;
    justify-content: space-evenly;
    width: 25rem;
    padding-top: 1rem;
    padding-bottom: 1.901rem;
}

#whatsapp_icon,
#instagram_icon,
#facebook_icon,
#twitter_icon {
    width: 3rem;
    height: 3rem;
}






@media only screen and (max-width: 1451px) {
    #logo_block {
        padding: 1rem 0rem 1rem 0rem;
    }

    #icons {
        padding-top: 0.82rem;
        padding-bottom: 0.8rem;
    }

    #contact_img,
    #contactus_div {
        height: 7.5rem;
        width: 25rem;
    }
}


@media only screen and (max-width: 890px) {
    #background1 {
        width: max-content;
    }
    #logo_block {
        padding: 2rem 0rem 2rem 0rem;
    }
    #services_div,
    #training_div,
    #services_img,
    #training_img {
        height: 13rem;
        width: 22rem;
    }
    #contact_img,
    #contactus_div {
        height: 7.5rem;
        width: 25rem;
    }
}

@media only screen and (max-width: 800px) {
    #background1 {
        width: 98vw;
    }
    #home_contents_flex {
        display: flex;
        width: 30rem;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 3rem;
        row-gap: 3rem;
        align-items: center;
    }
    #services_div,
    #training_div,
    #services_img,
    #training_img {
        height: 15rem;
        width: 25rem;
    }

    #contact_img,
    #contactus_div {
        height: 8rem;
        width: 25rem;
    }
}

@media all and (max-width: 550px) {
    #logo {
        width: 12rem;
    }
    #background1 {
        width: 98vw;
    }
    #services_div,
    #training_div,
    #services_img,
    #training_img {
        height: 12rem;
        width: 20rem;
    }
    #contact_img,
    #contactus_div {
        height: 7rem;
        width: 20rem;
    }
    #icons {
        width: 3rem;
        display: flex;
        flex-wrap: wrap;
        row-gap: 2rem;
        float: right;
        position: fixed;
        right: 0.5rem;
        top: 17rem;
    }
    #whatsapp_icon,
    #instagram_icon,
    #facebook_icon,
    #twitter_icon {
        width: 2rem;
        height: 2rem;
    }
}

@media only screen and (max-wdth: 485px) {
    #background1 {
        width: max-content;
    }
}